name: Build wheel

on:
  workflow_dispatch:
  release:
    types:
      - published

permissions:
  contents: read

jobs:
  build_wheels:
    name: Build wheel for ${{ matrix.python }}-${{ matrix.buildplat[1] }}
    runs-on: ${{ matrix.buildplat[0] }}
    strategy:
      matrix:
        # From wheel.yml of numpy (https://github.com/numpy/numpy/blob/main/.github/workflows/wheels.yml):
        # GitHub Actions doesn't support pairing matrix values together, let's improvise
        # https://github.com/github/feedback/discussions/7835#discussioncomment-1769026
        # https://cibuildwheel.pypa.io/en/stable/options/#build-skip
        # https://cibuildwheel.pypa.io/en/stable/options/#archs
        buildplat:  # [os, dist, arch]
        # macos-15-intel is an Intel runner, macos-14 is Apple silicon
          - [ubuntu-latest, manylinux_x86_64]
          - [ubuntu-latest, musllinux_x86_64]
          - [ubuntu-24.04-arm, manylinux_aarch64]
          - [ubuntu-24.04-arm, musllinux_aarch64]
          - [macos-15-intel, macosx_x86_64]
          - [macos-14, macosx_arm64]
          - [windows-latest, win_amd64]
          - [windows-11-arm, win_arm64]

        python: ["cp39", "cp310", "cp311", "cp312", "cp313", "cp314", "pp311"]
        # PyPy is not supported for musllinux, win32 and windows arm64
        # CPython 3.8 is not supported on windows arm64
        exclude:
          - buildplat: [windows-11-arm, win_arm64]
            python: "pp311"
          - buildplat: [ubuntu-latest, musllinux_x86_64 ]
            python: "pp311"
          - buildplat: [ubuntu-24.04-arm, musllinux_aarch64 ]
            python: "pp311"

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_ENABLE: pypy
          CIBW_ENVIRONMENT_MACOS: MACOSX_DEPLOYMENT_TARGET='11.0'

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.python }}-${{ matrix.buildplat[1] }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v6
        with:
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    environment:
      name: PyPI
      url: https://pypi.org/p/lcsvec
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v6
        with:
          # unpacks default artifact into dist/
          # if `name: artifact` is omitted, the action will create extra parent dir
          name: artifact
          path: dist

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
